* {

    font-family: 'IBM Plex Sans', sans-serif;

}

header{

    padding-top: 1rem;
    background-color: white;
}

body{

    margin:auto;
    background-color: lightgray;

}



img {

    width: 5rem;

}


#title {

    font-size: 50px;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    vertical-align: top;

}

.container{

    width: 1000px;
    height: 50px;
    margin: auto;
    margin-top: 70px;
    background-color:white;
    border-radius: 2%;
    position:relative
}


.task{

    width: 90px;
    height: 30px;
    border-radius: 10%;
    margin-top: 10px;
    position:absolute;
    
    
}

#add_task{

    background-color: rgb(0, 106, 255);
    color: white;
    margin-left: 80px;
    border: none;
}

#add_section{

    color: grey;
    background-color: white;
    margin-left: 200px;
    border-color: grey;
}


.main{

    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 5px;
    background-color:white;
    border-radius: 1%;
    position:relative;

}


.indice{

    margin-left: 80px;
    padding-top: 40px;
    font-size: 20px;
    line-height: 1.6;

}

.da_fare{

    margin-left: 80px;
    line-height: 200%;
}

.object{

    display: inline-block;
    border-radius: 25%;
    text-align: center;
    vertical-align: bottom;
    font-size: 10px;
    color: white;

}

.edit{

    background-color: lightblue;

}

.goal{

    background-color: rgb(136, 31, 152);

}
    

.recruiting{

    background-color: rgb(20, 179, 68);
    
}

.mobile{

    background-color: orange;

}

.website{

    background-color: violet;
}

.sales{

    background-color: rgb(153, 227, 42);
}


#honors{

    font-size: 20px;
    background-color: azure;
    text-align: center;
    
}