* {

    font-family: 'IBM Plex Sans', sans-serif;

}

header{

    padding-top: 1rem;
    background-color: white;
}

body{

    margin:auto;
    background-color: lightgray;

}



img {

    width: 5rem;

}


#title {

    font-size: 50px;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    vertical-align: top;

}