* {

    font-family: 'IBM Plex Sans', sans-serif;

}

header{

    padding-top: 1rem;
    background-color: white;
}

body{

    margin:auto;
    background-color: lightgray;

}



img {

    width: 5rem;

}


#title {

    font-size: 50px;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    vertical-align: top;

}

.container{

    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 70px;
    background-color:white;
    border-radius: 2%;
    position:relative
}


.task{

    width: 90px;
    height: 30px;
    
    border-radius: 10%;
    
    margin-top: 25px;
    position:absolute;
    
    
    
}

#add_task{

    background-color: rgb(0, 106, 255);
    color: white;
    margin-left: 80px;
    border: none;
}

#add_section{

    color: grey;
    background-color: white;
    margin-left: 200px;
    border: 1px;
    border-color: grey;
}